<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>id users</title>
</head>
<body>
<div style="border: 5px solid #dddddd;padding:10px;margin-bottom:20px;">

  <a href="http://localhost:8080/login">Exit</a>

</div>

<p th:text="${user.getFirstName()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>

<a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE"  th:action="@{/{id}(id=${user.getId()})}">
  <br/>
  <input type="submit" value="Delete"/>
</form>
</body>
</html>