<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<div style="border: 5px solid #ddd;padding:10px;margin-bottom:20px;">

    <a href="http://localhost:8080/login">Exit</a>

</div>
<form th:method="POST" th:action="@{/admin}" th:object="${addUser}">

    <label for="name">Name:</label>
    <input type="text" th:field="*{firstName}" id="name">
    <br/>
    <label for="lastName">Last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/>
    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="userName">Login:</label>
    <input type="text" th:field="*{userName}" id="userName">
    <br/>
    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password">
    <br/>
    <label>Role:
        <select multiple size="2" name="select_role" class="form-control" id="exampleFormControlSelect3">
            <option th:each="role : ${allRoles}" th:value="${role.getRole()}"
                    th:text="${role.getAuthority() == 'ROLE_ADMIN'} ? 'ROLE_ADMIN' : 'ROLE_USER'"></option>
        </select>
        <br/>
        <input type="submit" value="Create!"/>
    </label>
</form>
</body>
</html>